{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="row justify-content-center mt-3">
  <div class="col-md-5">
    <div class="card p-4">
      <div class="text-center mb-4">
        <i class="bi bi-person-plus-fill text-success" style="font-size:2rem"></i>
        <h4 class="mt-2 fw-bold">Create Your Account</h4>
      </div>
      <form method="POST" action="/register">
        <div class="mb-3">
          <label class="form-label fw-semibold">Full Name</label>
          <input type="text" name="name" class="form-control" required placeholder="Jean Habimana"/>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Email</label>
          <input type="email" name="email" class="form-control" required placeholder="you@example.com"/>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Password</label>
          <input type="password" name="password" class="form-control" required minlength="6"/>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">I am a...</label>
          <select name="role" class="form-select" required>
            <option value="farmer">Farmer</option>
            <option value="equip_owner">Equipment Owner</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Phone Number <small class="text-muted">(optional)</small></label>
          <input type="text" name="phone" class="form-control" placeholder="+250 712 345 678"/>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Location / District</label>
          <input type="text" name="location" class="form-control" required placeholder="e.g. Musanze"/>
        </div>
        <button type="submit" class="btn btn-main w-100 py-2 fw-semibold">Create Account</button>
      </form>
      <div class="text-center mt-3">
        <small>Already have an account? <a href="/login" class="text-success fw-semibold">Sign in</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}